﻿@{
    ViewData["Title"] = "Benefits Section";
}

<div class="global-transfers-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("Home_Personal_Span_Benefits")</span>
            <h2>@language.Getkey("Home_Personal_h_Benefits_Title")</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="icon">
                        <i class="flaticon-setting"></i>
                    </div>
                    <h3>@language.Getkey("Home_Personal_h_Benefits_1_Title")</h3>
                    <p>@language.Getkey("Home_Personal_p_Benefits_1_Desc")</p>
                    <a asp-area="" asp-controller="Pricing" asp-action="Index" class="global-btn">@language.Getkey("Home_Index_Anchor_LearnMore")</a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <div class="icon">
                        <i class="flaticon-knowledge"></i>
                    </div>
                    <h3>@language.Getkey("Home_Personal_h_Benefits_2_Title")</h3>
                    <p>@language.Getkey("Home_Personal_p_Benefits_2_Desc")</p>
                    <a asp-area="" asp-controller="Pricing" asp-action="Index" class="global-btn">@language.Getkey("Home_Index_Anchor_LearnMore")</a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <div class="icon">
                        <i class="flaticon-delivery"></i>
                    </div>
                    <h3>@language.Getkey("Home_Personal_h_Benefits_3_Title")</h3>
                    <p>@language.Getkey("Home_Personal_p_Benefits_3_Desc")</p>
                    <a asp-area="" asp-controller="Pricing" asp-action="Index" class="global-btn">@language.Getkey("Home_Index_Anchor_LearnMore")</a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="icon">
                        <i class="flaticon-fast-forward"></i>
                    </div>
                    <h3>@language.Getkey("Home_Personal_h_Benefits_4_Title")</h3>
                    <p>@language.Getkey("Home_Personal_p_Benefits_4_Desc")</p>
                    <a asp-area="" asp-controller="Pricing" asp-action="Index" class="global-btn">@language.Getkey("Home_Index_Anchor_LearnMore")</a>
                </div>
            </div>
        </div>
    </div>
</div>
