﻿@{
    ViewData["Title"] = "Compare Pricing Section";
}

<div class="compare-pricing-area pb-100">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("Home_Index_Span_Pricing")</span>
            <h2>@language.Getkey("Home_Index_h_Pricing_Title")</h2>
        </div>

        <div class="compare-pricing-table table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr style="border: 2px; border-bottom-style: solid; border-color: #2a3f65 ">
                        <th scope="col"><strong>Planes y Versiones</strong></th>
                        <th scope="col" class="bg-2A3F65"><div class="d-flex flex-column"><img src="~/Kohinor/images/logos/Kohinor-Dark.png" style="width:250px" alt="image"><div class="d-flex justify-content-center"><span class="version-pill-pro">PRO</span></div></div></th>
                        <th scope="col"><div class="d-flex flex-column"><img src="~/Kohinor/images/logos/Kohinor.png" style="width:250px" alt="image"><div class="d-flex justify-content-center"><span class="version-pill-lite">LITE</span></div></div></th>
                        <th scope="col"><div class="d-flex flex-column"><img src="~/Kohinor/images/logos/Kohinor.png" style="width:250px" alt="image"><div class="d-flex justify-content-center"><span class="version-pill-basic">BASIC</span></div></div></th>
                        <th scope="col"><div class="d-flex flex-column"><img src="~/Kohinor/images/logos/Kohinor.png" style="width:250px" alt="image"><div class="d-flex justify-content-center"><span class="version-pill-plus">PLUS</span></div></div></th>
                        <th scope="col"><div class="d-flex flex-column"><img src="~/Kohinor/images/logos/Kohinor.png" style="width:250px" alt="image"><div class="d-flex justify-content-center"><span class="version-pill-legacy">LEGACY</span></div></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-F7F7F7">
                        <td class="d-flex flex-column align-items-center">
                            <img src="~/Kohinor/images/icons/3-min.png" style="width:30px" />
                            <span>@language.Getkey("Pricing_Index_h_Modules_3")</span>
                        </td>
                        <td class="bg-2A3F65 text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-5D7079">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-FD6E5C">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-5D7079">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-FD6E5C">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-5D7079">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-5D7079">(Funcionalidad Completa)</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="d-flex flex-column align-items-center">
                            <img src="~/Kohinor/images/icons/2-min.png" style="width:30px" />
                            <span>@language.Getkey("Pricing_Index_h_Modules_2")</span>
                        </td>
                        <td class="bg-2A3F65 text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-5D7079">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-FD6E5C">-81.024 EUR</span>
                        </td>
                        <td class="text-center color-5D7079">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-FD6E5C">(First 5 fee-free)</span>
                        </td>
                        <td class="text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-FD6E5C">(First 5 fee-free)</span>
                        </td>
                        <td class="text-center color-5D7079">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-5D7079">(First 5 fee-free)</span>
                        </td>
                    </tr>

                    <tr class="bg-F7F7F7">
                        <td class="d-flex flex-column align-items-center">
                            <img src="~/Kohinor/images/icons/4-min.png" style="width:30px" />
                            <span>@language.Getkey("Pricing_Index_h_Modules_4")</span>
                        </td>
                        <td class="bg-2A3F65 text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-5D7079">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                        </td>
                        <td class="text-center color-5D7079">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                        </td>
                        <td class="text-center color-5D7079">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                        </td>
                        <td class="text-center color-5D7079">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                        </td>
                    </tr>

                    <tr>
                        <td class="d-flex flex-column align-items-center">
                            <img src="~/Kohinor/images/icons/1-min.png" style="width:30px" />
                            <span>@language.Getkey("Pricing_Index_h_Modules_1")</span>
                        </td>
                        <td class="bg-2A3F65 text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-90006F">
                            <i class="ri-close-circle-fill fs-4"></i>
                        </td>
                        <td class="text-center color-90006F"><i class="ri-checkbox-circle-fill fs-4"></td>
                        <td class="text-center color-90006F"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                        <td class="text-center color-5D7079"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                    </tr>
                    <tr class="bg-F7F7F7">
                        <td class="d-flex flex-column align-items-center">
                            <img src="~/Kohinor/images/icons/5-min.png" style="width:30px" />
                            <span>@language.Getkey("Pricing_Index_h_Modules_5")</span>
                        </td>
                        <td class="bg-2A3F65 text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-90006F">
                            <i class="ri-close-circle-fill fs-4">
                            </i>
                        </td>
                        <td class="text-center color-90006F"><i class="ri-close-circle-fill fs-4"></i></td>
                        <td class="text-center color-90006F"> <i class="ri-checkbox-circle-fill fs-4"></i></td>
                        <td class="text-center color-5D7079"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                    </tr>
                    <tr>
                        <td class="d-flex flex-column align-items-center">
                            <img src="~/Kohinor/images/icons/6-min.png" style="width:30px" />
                            <span>@language.Getkey("Pricing_Index_h_Modules_6")</span>
                        </td>
                        <td class="bg-2A3F65 text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-90006F">
                            <i class="ri-close-circle-fill fs-4"></i>
                        </td>
                        <td class="text-center color-90006F"><i class="ri-close-circle-fill fs-4"></i></td>
                        <td class="text-center color-90006F"> <i class="ri-checkbox-circle-fill fs-4"></i></td>
                        <td class="text-center color-5D7079"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                    </tr>
                    <tr class="bg-F7F7F7">
                        <td class="d-flex flex-column align-items-center">
                            <img src="~/Kohinor/images/icons/7-min.png" style="width:30px" />
                            <span>@language.Getkey("Pricing_Index_h_Modules_7")</span>
                        </td>
                        <td class="bg-2A3F65 text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-90006F">
                            <i class="ri-close-circle-fill fs-4"></i>
                        </td>
                        <td class="text-center color-90006F"><i class="ri-close-circle-fill fs-4"></i></td>
                        <td class="text-center color-FD6E5C"> <i class="ri-checkbox-circle-fill fs-4"></i></td>
                        <td class="text-center color-5D7079"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                    </tr>
                    <tr>
                        <td class="d-flex flex-column align-items-center">
                            <img src="~/Kohinor/images/icons/8-min.png" style="width:30px" />
                            <span>@language.Getkey("Pricing_Index_h_Modules_8")</span>
                        </td>
                        <td class="bg-2A3F65 text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-90006F"><i class="ri-close-circle-fill fs-4"></i></td>
                        <td class="text-center color-90006F"><i class="ri-close-circle-fill fs-4"></i></td>
                        <td class="text-center color-FD6E5C"> <i class="ri-checkbox-circle-fill fs-4"></i></td>
                        <td class="text-center color-5D7079"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                    </tr>
                    <tr class="bg-F7F7F7">
                        <td class="d-flex flex-column align-items-center">
                            <img src="~/Kohinor/images/icons/9-min.png" style="width:30px" />
                            <span>@language.Getkey("Pricing_Index_h_Modules_9")</span>
                        </td>
                        <td class="bg-2A3F65 text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-90006F"><i class="ri-close-circle-fill fs-4"></i></td>
                        <td class="text-center color-90006F"><i class="ri-close-circle-fill fs-4"></i></td>
                        <td class="text-center color-FD6E5C"> <i class="ri-checkbox-circle-fill fs-4"></i></td>
                        <td class="text-center color-5D7079"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                    </tr>
                    <tr>
                        <td class="d-flex flex-column align-items-center">
                            <img src="~/Kohinor/images/icons/10-min.png" style="width:30px" />
                            <span>@language.Getkey("Pricing_Index_h_Modules_10")</span>
                        </td>
                        <td class="bg-2A3F65 text-center">
                            <i class="ri-checkbox-circle-fill fs-4"></i>
                            <span class="color-0FC9BB">(Funcionalidad Completa)</span>
                        </td>
                        <td class="text-center color-FD6E5C"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                        <td class="text-center color-FD6E5C"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                        <td class="text-center color-FD6E5C"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                        <td class="text-center color-5D7079"><i class="ri-checkbox-circle-fill fs-4"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    /* Versión LITE */
    .version-pill-lite {
        font-weight: bold;
        font-size: 10px;
        color: #ffffff;
        background: linear-gradient(135deg, #A0E7E5, #009286); /* Degradado azul-menta */
        padding: 5px 10px;
        border-radius: 5px;
    }

    /* Versión BASIC */
    .version-pill-basic {
        font-weight: bold;
        font-size: 10px;
        color: #ffffff;
        background: linear-gradient(135deg, #FFC75F, #FF8C00); /* Degradado amarillo-naranja */
        padding: 5px 10px;
        border-radius: 5px;
    }

    /* Versión PLUS */
    .version-pill-plus {
        font-weight: bold;
        font-size: 10px;
        color: #ffffff;
        background: linear-gradient(135deg, #845EC2, #D65DB1); /* Degradado morado-rosado */
        padding: 5px 10px;
        border-radius: 5px;
    }

    /* Versión PRO */
    .version-pill-pro {
        font-weight: bold;
        font-size: 10px;
        color: #ffffff;
        background: linear-gradient(135deg, #2C73D2, #0081CF); /* Degradado azul oscuro */
        padding: 5px 10px;
        border-radius: 5px;
    }

    /* Versión LEGACY */
    .version-pill-legacy {
        font-weight: bold;
        font-size: 10px;
        color: #ffffff;
        background: linear-gradient(135deg, #808080, #545454); /* Degradado gris oscuro */
        padding: 5px 10px;
        border-radius: 5px;
    }
</style>