﻿@{
    ViewData["Title"] = "Contact Support Section";
}
@model prj_KohinorWeb.Models.IssuePayload

<div class="contact-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("ContactSupport_Index_Span_Order")</span>
            <h2>@language.Getkey("ContactSupport_Index_h_Order_Title")</h2>
        </div>

        <form id="supportForm" asp-action="SubmitForm" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label>@language.Getkey("ContactSupport_Index_form_label_YourName")</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="@language.Getkey("ContactSupport_Index_form_ph_YourName")" required data-error="@language.Getkey("ContactSupport_Index_form_error_YourName")">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label>@language.Getkey("ContactSupport_Index_form_label_Email")</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="@language.Getkey("ContactSupport_Index_form_ph_label_Email")" required data-error="@language.Getkey("ContactSupport_Index_form_error_label_Email")">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label>@language.Getkey("ContactSupport_Index_form_label_Phone")</label>
                        <input type="text" name="phoneNumber" id="phoneNumber" placeholder="@language.Getkey("ContactSupport_Index_form_ph_Phone")" required data-error="@language.Getkey("ContactSupport_Index_form_error_Phone")" class="form-control">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label>@language.Getkey("ContactSupport_Index_form_label_Subject")</label>
                        <input type="text" name="subject" id="subject" placeholder="@language.Getkey("ContactSupport_Index_form_ph_Subject")" class="form-control" required data-error="@language.Getkey("ContactSupport_Index_form_error_Subject")">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label>@language.Getkey("ContactSupport_Index_form_label_Company")</label>
                        <input type="text" name="company" id="company" placeholder="@language.Getkey("ContactSupport_Index_form_ph_Company")" class="form-control" required data-error="@language.Getkey("ContactSupport_Index_form_error_Company")">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label>@language.Getkey("ContactSupport_Index_form_label_YourMessage")</label>
                        <textarea name="description" class="form-control" id="description" placeholder="@language.Getkey("ContactSupport_Index_form_ph_YourMessage")" cols="30" rows="6" required data-error="@language.Getkey("ContactSupport_Index_form_error_YourMessage")"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
               
                <div class="col-lg-12 col-md-12">
                    <div class="send-btn">
                        <button type="submit" class="default-btn">@language.Getkey("ContactSupport_Index_form_button_SubmitNow")</button>
                    </div>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>

    </div>
</div>
