﻿@{
    ViewData["Title"] = "Contact Information Section";
}

<div class="contact-information-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("ContactUs_Index_Span_ContactInfo")</span>
            <h2>@language.Getkey("ContactUs_Index_Span_ContactInfo_Title")</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="contact-information-card overview-area">
                    <div class="icon">
                        <i class="ri-map-pin-line"></i>
                    </div>
                    <h3>@language.Getkey("Home_Footer_Span_Location"):</h3>
                    <p>@language.Getkey("Principal_Location")</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="contact-information-card overview-area">
                    <div class="icon">
                        <i class="ri-mail-line"></i>
                    </div>
                    <h3>@language.Getkey("Home_Footer_Span_Email"):</h3>
                    <p><a href="mailto:@language.Getkey("Principal_Email")">@language.Getkey("Principal_Email")</a> <br> <a href="mailto:@language.Getkey("Secondary_Email")">@language.Getkey("Secondary_Email")</a></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="contact-information-card overview-area">
                    <div class="icon">
                        <i class="ri-phone-line"></i>
                    </div>
                    <h3>@language.Getkey("Home_Footer_Span_Phone"):</h3>
                    <p><a href="tel:@language.Getkey("Principal_Tel")">@language.Getkey("Principal_Tel")</a> <br> <a href="tel:@language.Getkey("Secondary_Tel")">@language.Getkey("Secondary_Tel")</a></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="contact-information-card overview-area">
                    <div class="icon">
                        <i class="ri-printer-line"></i>
                    </div>
                    <h3>@language.Getkey("Home_Footer_Span_Support"):</h3>
                    <p><a href="tel:@language.Getkey("Secondary_Tel_1")">@language.Getkey("Secondary_Tel_1")</a> <br> <a href="tel:121298765436709">+1-212-9876543670</a></p>
                </div>
            </div>
        </div>
    </div>
</div>