﻿@{
    ViewData["Title"] = "Customers Review Section";
}

<div class="review-area bg-F4F5F5 ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Our Review</span>
            <h2>More Than 4,405,28 Happy Customers Trust Our Services</h2>
        </div>

        <div class="review-slides-two owl-carousel owl-theme">
            <div class="single-review-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <ul class="review-rating">
                    <li><i class="ri-star-line"></i></li>
                    <li><i class="ri-star-line"></i></li>
                    <li><i class="ri-star-line"></i></li>
                    <li><i class="ri-star-line"></i></li>
                    <li><i class="ri-star-line"></i></li>
                </ul>
                <p>Vitae cras leo tellus lectus non fusce tate nibh massa. Quis ut odio quam in lorem nam felis sed. Eleifend euismod vitae parturient libero. Magna in parturient congue aliquam egestas.</p>
                <div class="review-info">
                    <img src="assets/images/review/review-1.jpg" alt="image">
                    <h3>Thomoson Piterson</h3>
                    <span>Endemycon Leader</span>
                </div>
                <div class="reviewquote-image">
                    <img src="assets/images/quote-icon.png" alt="image">
                </div>
            </div>

            <div class="single-review-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                <ul class="review-rating">
                    <li><i class="ri-star-line"></i></li>
                    <li><i class="ri-star-line"></i></li>
                    <li><i class="ri-star-line"></i></li>
                    <li><i class="ri-star-line"></i></li>
                    <li><i class="ri-star-line"></i></li>
                </ul>
                <p>Vitae cras leo tellus lectus non fusce tate nibh massa. Quis ut odio quam in lorem nam felis sed. Eleifend euismod vitae parturient libero. Magna in parturient congue aliquam egestas.</p>
                <div class="review-info">
                    <img src="assets/images/review/review-2.jpg" alt="image">
                    <h3>Maxwel Warner</h3>
                    <span>Endemycon Leader</span>
                </div>
                <div class="reviewquote-image">
                    <img src="assets/images/quote-icon.png" alt="image">
                </div>
            </div>
        </div>

        <div class="review-optional-content">
            <p>But don’t just take our word for it - check out what our customers have to say about their experience with us: <b>Excellent</b> <span>Based on 25,454 reviews</span></p>
        </div>
    </div>

    <div class="review-shape">
        <img src="assets/images/review/shape-1.png" alt="image">
    </div>
    <div class="review-shape-2">
        <img src="assets/images/review/shape-2.png" alt="image">
    </div>
</div>