﻿@{
    ViewData["Title"] = "Footer";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6">
            <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <div class="widget-logo">
                    <img src="~/Kohinor/images/logos/Kohinor.png" class="black-logo" alt="image" style="width:175px"/>
                    <img src="~/Kohinor/images/logos/Kohinor-Dark.png" class="white-logo" alt="image" style="width:175px"/>
                </div>
                <p>@language.Getkey("Home_Footer_p_GetUpdates")</p>

                <form class="newsletter-form" data-bs-toggle="validator">
                    <input type="email" class="input-newsletter" placeholder="@language.Getkey("Home_Footer_Placeholder_Email")" name="EMAIL" required autocomplete="off">

                    <button type="submit" class="default-btn">@language.Getkey("Home_Footer_Button_Subscribe")</button>
                    <div id="validator-newsletter" class="form-result"></div>
                </form>

                <ul class="widget-social">
                    <li>
                        <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                            <i class="ri-facebook-fill"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/?lang=en" target="_blank">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="ri-instagram-line"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/signup" target="_blank">
                            <i class="ri-linkedin-line"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                <h3>@language.Getkey("Home_Footer_h_CompanyTeam")</h3>

                <ul class="quick-links">
                    @*<li><a asp-area="" asp-controller="AboutUs" asp-action="Index">@language.Getkey("Home_Footer_Anchor_CompanyTeam")</a></li>*@
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">@language.Getkey("Home_Footer_Anchor_NewsAndBlog")</a></li>*@
                    <li><a asp-area="" asp-controller="AboutUs" asp-action="Index">@language.Getkey("Home_Footer_Anchor_AboutUs")</a></li>
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">@language.Getkey("Home_Footer_Anchor_Clients")</a></li>*@
                    @*<li><a asp-area="" asp-controller="Contact" asp-action="Support">@language.Getkey("Home_Footer_Anchor_Support")</a></li>*@
                    <li><a asp-area="" asp-controller="Contact" asp-action="Index">@language.Getkey("Home_Footer_Anchor_ContactUs")</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="single-footer-widget ps-5" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                <h3>Resources</h3>

                <ul class="quick-links">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">@language.Getkey("Home_Footer_Anchor_Security")</a></li>*@
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">@language.Getkey("Home_Footer_Anchor_FAQ")</a></li>*@
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">@language.Getkey("Home_Footer_Anchor_PrivacyPolicy")</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Terms">@language.Getkey("Home_Footer_Anchor_Terms")</a></li>
                    
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="single-footer-widget" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                <h3>Contact Info</h3>

                <ul class="info-links">
                    <li><span>@language.Getkey("Home_Footer_Span_Location"):</span> @language.Getkey("Principal_Location")</li>
                    <li><span>@language.Getkey("Home_Footer_Span_Email"):</span> <a href="mailto:@language.Getkey("Principal_Email")">@language.Getkey("Principal_Email")</a></li>
                    <li><span>@language.Getkey("Home_Footer_Span_Phone"):</span> <a href="tel:@language.Getkey("Principal_Tel")">@language.Getkey("Principal_Tel")</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <p>
                @language.Getkey("Principal_Copyright")
                <a href="#" target="_blank">
                    @language.Getkey("Principal_Company")
                </a>
            </p>
        </div>
    </div>
</div>