﻿@{
    ViewData["Title"] = "Header";
}

<!-- Start Topbar Area -->
<div class="topbar-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <ul class="topbar-information">
                    <li>
                        <a href="tel:@language.Getkey("Principal_Tel")">@language.Getkey("Principal_Tel")</a>
                    </li>
                    <li>
                        <a href="mailto:@language.Getkey("Principal_Email")">@language.Getkey("Principal_Email")</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-6">
                <ul class="topbar-action">
                    @*<li>
                        <a asp-area="" asp-controller="Contact" asp-action="Support">@language.Getkey("Home_Navbar_Anchor_Support")</a>
                    </li>*@
                    @*<li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">@language.Getkey("Home_Navbar_Anchor_Help")</a>
                    </li>*@
                    <li class="dropdown language-option">
                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-global-line"></i>
                            <span class="lang-name">@System.Globalization.CultureInfo.CurrentCulture.DisplayName</span>
                        </button>
                        <div class="dropdown-menu language-dropdown-menu">
                            <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US">
                                <img src="~/Snuff/assets/images/currency-flag/USD.png" alt="flag">
                                English
                            </a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="es-EC">
                                <img src="~/Kohinor/images/home/spain.png" alt="flag"/>
                                Espanol
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Topbar Area -->
<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Kohinor/images/logos/Kohinor-1.png" class="black-logo" alt="image" />
                        <img src="~/Kohinor/images/logos/Kohinor-Dark-1.png" class="white-logo" alt="image" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-navbar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Kohinor/images/logos/Kohinor.png" class="black-logo" alt="image" />
                    <img src="~/Kohinor/images/logos/Kohinor-Dark.png" class="white-logo" alt="image" />
                </a>

                <div class="navbar-list">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="LITE">@language.Getkey("Home_Navbar_Anchor_Personal")</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="PLUS">@language.Getkey("Home_Navbar_Anchor_Business")</a></li>
                    </ul>
                </div>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                @language.Getkey("Home_Navbar_Anchor_Solutions")
                                <i class="ri-arrow-down-s-line"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="LITE" class="nav-link">@language.Getkey("Home_Navbar_Anchor_Personal")</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="BASIC" class="nav-link">@language.Getkey("Home_Navbar_Anchor_Administrative")</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="PLUS" class="nav-link">@language.Getkey("Home_Navbar_Anchor_Business")</a>
                                </li>
                                @*<li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="PRO" class="nav-link">@language.Getkey("Home_Navbar_Anchor_Industrial")</a>
                                </li>*@
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="LEGACY" class="nav-link">@language.Getkey("Home_Navbar_Anchor_Comercial")</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="AboutUs" asp-action="Index" class="nav-link">@language.Getkey("Home_Navbar_Anchor_AboutUs")</a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Pricing" asp-action="Index" class="nav-link">@language.Getkey("Home_Navbar_Anchor_ComparePricing")</a>
                        </li>

                        @*<li class="nav-item">
                            <a href="#" class="nav-link">
                                @language.Getkey("Home_Navbar_Anchor_Services")
                                <i class="ri-arrow-down-s-line"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Contact" asp-action="Support" class="nav-link">@language.Getkey("Home_Navbar_Anchor_SupportTicket")</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">@language.Getkey("Home_Navbar_Anchor_KohinorCRM")</a>
                                </li>
                            </ul>
                        </li>*@

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Contact" asp-action="Index" class="nav-link">@language.Getkey("Home_Navbar_Anchor_Contact")</a>
                        </li>
                    </ul>

                    @*<div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <a href="#" class="optional-btn">@language.Getkey("Home_Navbar_Anchor_LogIn")</a>
                        </div>
                        <div class="option-item">
                            <a href="#" class="default-btn">@language.Getkey("Home_Navbar_Anchor_RegisterNow")</a>
                        </div>
                    </div>*@
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            @*<div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>*@

            @*<div class="container">
                <div class="option-inner">
                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <a href="login.html" class="optional-btn">@language.Getkey("Home_Navbar_Anchor_LogIn")</a>
                        </div>
                        <div class="option-item">
                            <a href="register.html" class="default-btn">@language.Getkey("Home_Navbar_Anchor_RegisterNow")</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
<!-- End Navbar Area -->