﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kohinor Web Page</title>

   
    <!-- Links of CSS files -->
    <link rel="stylesheet" href="~/Snuff/assets/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/aos.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/animate.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/meanmenu.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/remixicon.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/flaticon.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/odometer.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/owl.theme.default.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/magnific-popup.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/navbar.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/footer.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/dark.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Snuff/assets/css/responsive.css" asp-append-version="true">
    <link href="~/Kohinor/css/site.min.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->

    <!-- Start Header Area -->
    <header id="mainHeader" class="main-header-area">
        <partial name="_Header" />
    </header>
    <!-- End Header Area -->

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <!-- End Footer Area -->
    <footer class="footer-area pt-100">
        <partial name="_Footer" />
    </footer>
    <!-- End Footer Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-line"></i>
    </div>
    <!-- End Go Top Area -->

    <!-- Links of JS files -->
    <script src="~/Snuff/assets/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/jquery.meanmenu.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/jquery.appear.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/odometer.min.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/TweenMax.min.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/ScrollMagic.min.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/aos.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/jquery.ajaxchimp.min.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/form-validator.min.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/contact-form-script.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/Snuff/assets/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



