﻿@{
    ViewData["Title"] = "Map Section";
}

<div class="paiement-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="paiement-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>@language.Getkey("AboutUs_Index_Span_Map")</span>
                    <h3>@language.Getkey("AboutUs_Index_Span_Map_Title")</h3>
                    <p>@language.Getkey("AboutUs_Index_Span_Map_Desc")</p>

                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <ul class="paiement-list">
                                <li><i class="ri-check-line"></i>@language.Getkey("Principal_Module_Inventary")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Principal_Module_Purchase")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Principal_Module_Sales")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Principal_Module_Production")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Principal_Module_Import")</li>                     
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="paiement-list">
                                <li><i class="ri-check-line"></i>@language.Getkey("Principal_Module_Contability")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Principal_Module_Payroll")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Principal_Module_FixedAssets")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Principal_Module_Analysis")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Principal_Module_Security")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="paiement-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/kohinor/images/team/map.png" alt="map"/>
                </div>
            </div>
        </div>
    </div>
</div>