﻿@{
    ViewData["Title"] = "Modules Section";
}

<div class="benefits-area pt-100 pb-75"  style="background-color: var(--optional-color);">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("Pricing_Index_Span_Modules")</span>
            <h2 class="text-white">@language.Getkey("Pricing_Index_h_Modules_Title")</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6" id="m_1">
                <div id="ms_1" class="single-benefits-card" data-aos="fade-up" data-aos-delay="30" data-aos-duration="300" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/1-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_1")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_1")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_2">
                <div id="ms_2" class="single-benefits-card" data-aos="fade-up" data-aos-delay="40" data-aos-duration="400" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/2-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_2")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_2")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_3">
                <div id="ms_3" class="single-benefits-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/3-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_3")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_3")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_4">
                <div id="ms_4" class="single-benefits-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/4-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_4")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_4")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_5">
                <div id="ms_5" class="single-benefits-card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/5-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_5")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_5")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_6">
                <div id="ms_6" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/6-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_6")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_6")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_7">
                <div id="ms_7" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/7-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_7")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_7")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_8">
                <div id="ms_8" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/8-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_8")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_8")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_9">
                <div id="ms_9" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/9-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_9")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_9")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_10">
                <div id="ms_10" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/10-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_10")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_10")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>