﻿@{
    ViewData["Title"] = "News Section";
}

<div class="getting-started-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("Home_Index_Span_News")</span>
            <h2>@language.Getkey("Home_Index_h_News_Title")</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="getting-image">
                        <img src="~/Snuff/assets/images/getting-started/getting-1.png" alt="image">
                    </div>
                    <h3>@language.Getkey("Home_Index_h_News_Card_1")</h3>
                    <p>@language.Getkey("Home_Index_p_News_Card_1")</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <div class="getting-image">
                        <img src="~/Snuff/assets/images/explore/explore-6.png" alt="image">
                    </div>
                    <h3>@language.Getkey("Home_Index_h_News_Card_2")</h3>
                    <p>@language.Getkey("Home_Index_p_News_Card_2")</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <div class="getting-image">
                        <img src="~/Snuff/assets/images/main-banner/line-graph.png" alt="image">
                    </div>
                    <h3>@language.Getkey("Home_Index_h_News_Card_3")</h3>
                    <p>@language.Getkey("Home_Index_p_News_Card_3")</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-getting-started-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="getting-image">
                        <img src="~/Snuff/assets/images/benefits/benefits-5.png" alt="image">
                    </div>
                    <h3>@language.Getkey("Home_Index_h_News_Card_4")</h3>
                    <p>@language.Getkey("Home_Index_p_News_Card_4")</p>
                </div>
            </div>
        </div>
    </div>
</div>