﻿@{
    ViewData["Title"] = "Our Features Section";
}

<div class="features-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="features-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>@language.Getkey("Home_Index_Span_OurFeatures")</span>
                    <h3>@language.Getkey("Home_Index_h_OurFeatures_Title")</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-features-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="icon-image">
                                <img src="~/Snuff/assets/images/features/icon-1.png" alt="image">
                            </div>
                            <div class="content">
                                <h3>@language.Getkey("Home_Index_h_OurFeatures_FasterCheaper")</h3>

                                <ul class="list">
                                    <li><i class="ri-checkbox-circle-line"></i>@language.Getkey("Home_Index_li_OurFeatures_FasterCheaper_1")</li>
                                    <li><i class="ri-checkbox-circle-line"></i>@language.Getkey("Home_Index_li_OurFeatures_FasterCheaper_2")</li>
                                    <li><i class="ri-checkbox-circle-line"></i>@language.Getkey("Home_Index_li_OurFeatures_FasterCheaper_3")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-features-card" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                            <div class="icon-image">
                                <img src="~/Snuff/assets/images/features/icon-2.png" alt="image">
                            </div>
                            <div class="content">
                                <h3>@language.Getkey("Home_Index_h_OurFeatures_TrustedSecure")</h3>

                                <ul class="list">
                                    <li><i class="ri-checkbox-circle-line"></i>@language.Getkey("Home_Index_li_OurFeatures_TrustedSecure_1")</li>
                                    <li><i class="ri-checkbox-circle-line"></i>@language.Getkey("Home_Index_li_OurFeatures_TrustedSecure_2")</li>
                                    <li><i class="ri-checkbox-circle-line"></i>@language.Getkey("Home_Index_li_OurFeatures_TrustedSecure_3")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="features-vector-image" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Kohinor/images/home/our_features_1.png" alt="image" />
                </div>
            </div>
        </div>
    </div>
</div>