﻿@{
    ViewData["Title"] = "Our Team Section";
}


<div class="team-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("AboutUs_Index_Span_Team_Directors")</span>
            <h2>@language.Getkey("AboutUs_Index_h_Team_Title")</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-team-card">
                    <div class="team-image">
                        <img src="~/kohinor/images/team/1.png" alt="team" />
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/?lang=en" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/signup" target="_blank">
                                    <i class="ri-linkedin-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>@language.Getkey("Principal_Director")</h3>
                        <span>@language.Getkey("Principal_Director_Charge")</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-team-card">
                    <div class="team-image">
                        <img src="~/kohinor/images/team/2.png" alt="team" />
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/?lang=en" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/signup" target="_blank">
                                    <i class="ri-linkedin-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>@language.Getkey("Principal_ProjectLeader")</h3>
                        <span>@language.Getkey("Principal_ProjectLeader_Charge")</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-team-card">
                    <div class="team-image">
                        <img src="~/kohinor/images/team/3.png" alt="Team"/>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/?lang=en" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/signup" target="_blank">
                                    <i class="ri-linkedin-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>@language.Getkey("Principal_Economist")</h3>
                        <span>@language.Getkey("Principal_Economist_Charge")</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-team-card">
                    <div class="team-image">
                        <img src="~/kohinor/images/team/4.png" alt="team"/>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/EnvyTheme" target="_blank">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/?lang=en" target="_blank">
                                    <i class="ri-twitter-fill"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/signup" target="_blank">
                                    <i class="ri-linkedin-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>@language.Getkey("Principal_Audit")</h3>
                        <span>@language.Getkey("Principal_Audit_Charge")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>