﻿@{
    ViewData["Title"] = "Our Plans Section";
}

<div class="global-transfers-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("Pricing_Index_Span_OurPricingPlans")</span>
            <h2>@language.Getkey("Pricing_Index_h_OurPricingPlans_Desc")</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="single-pricing-table" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="pricing-header">
                        <h3>@language.Getkey("Pricing_Index_h_Standard")</h3>
                    </div>
                    <div class="price">$20 <span>@language.Getkey("Pricing_Index_span_PerMonthly")</span></div>
                    <div class="pricing-btn">
                        <a asp-area="" asp-controller="Contact" asp-action="Index" class="default-btn">@language.Getkey("Pricing_Index_a_ChooseThisPlan")</a>
                    </div>
                    <ul class="features-list">
                        <li><i class="ri-check-line"></i> Free Mobile & Online App</li>
                        <li><i class="ri-check-line"></i> Online System</li>
                        <li><i class="ri-check-line"></i> Data full Access</li>
                        <li><i class="ri-check-line"></i> 1 Business Mastercard</li>
                        <li><i class="ri-check-line"></i> International Payment</li>
                        <li><i class="ri-check-line"></i> Support Unlimited</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-pricing-table" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <div class="pricing-header">
                        <h3>@language.Getkey("Pricing_Index_h_Business")</h3>
                    </div>
                    <div class="price">$25 <span>@language.Getkey("Pricing_Index_span_PerMonthly")</span></div>
                    <div class="pricing-btn">
                        <a asp-area="" asp-controller="Contact" asp-action="Index" class="default-btn">@language.Getkey("Pricing_Index_a_ChooseThisPlan")</a>
                    </div>
                    <ul class="features-list">
                        <li><i class="ri-check-line"></i> Free Mobile & Online App</li>
                        <li><i class="ri-check-line"></i> Online System</li>
                        <li><i class="ri-check-line"></i> Data full Access</li>
                        <li><i class="ri-check-line"></i> 1 Business Mastercard</li>
                        <li><i class="ri-check-line"></i> International Payment</li>
                        <li><i class="ri-check-line"></i> Support Unlimited</li>
                    </ul>
                    <div class="best-sale">Best Sale</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-pricing-table" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <div class="pricing-header">
                        <h3>@language.Getkey("Pricing_Index_h_Premium")</h3>
                    </div>
                    <div class="price">$30 <span>@language.Getkey("Pricing_Index_span_PerMonthly")</span></div>
                    <div class="pricing-btn">
                        <a asp-area="" asp-controller="Contact" asp-action="Index" class="default-btn">@language.Getkey("Pricing_Index_a_ChooseThisPlan")</a>
                    </div>
                    <ul class="features-list">
                        <li><i class="ri-check-line"></i> Free Mobile & Online App</li>
                        <li><i class="ri-check-line"></i> Online System</li>
                        <li><i class="ri-check-line"></i> Data full Access</li>
                        <li><i class="ri-check-line"></i> 1 Business Mastercard</li>
                        <li><i class="ri-check-line"></i> International Payment</li>
                        <li><i class="ri-check-line"></i> Support Unlimited</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-pricing-table" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <div class="pricing-header">
                        <h3>@language.Getkey("Pricing_Index_h_Premium")</h3>
                    </div>
                    <div class="price">$99 <span>@language.Getkey("Pricing_Index_span_PerMonthly")</span></div>
                    <div class="pricing-btn">
                        <a asp-area="" asp-controller="Contact" asp-action="Index" class="default-btn">@language.Getkey("Pricing_Index_a_ChooseThisPlan")</a>
                    </div>
                    <ul class="features-list">
                        <li><i class="ri-check-line"></i> Free Mobile & Online App</li>
                        <li><i class="ri-check-line"></i> Online System</li>
                        <li><i class="ri-check-line"></i> Data full Access</li>
                        <li><i class="ri-check-line"></i> 1 Business Mastercard</li>
                        <li><i class="ri-check-line"></i> International Payment</li>
                        <li><i class="ri-check-line"></i> Support Unlimited</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>