﻿@{
    ViewData["Title"] = "Our Clients Section";
}

<div class="coverage-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("Home_Index_Span_OurClients")</span>
            <h2>@language.Getkey("Home_Index_h_OurClients_Desc")</h2>
        </div>
        <div class="review-slides owl-carousel owl-theme logo-box">
            <div class="logo-center" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/1.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="60" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/2.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/3.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/4.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/5.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/6.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/7.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/8.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/9.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/10.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/11.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/12.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/13.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/14.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/15.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/16.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor industrial/17.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/1.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/2.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/3.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/4.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/5.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/6.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/7.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/8.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/9.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/10.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/11.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/12.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/13.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/14.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/15.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/16.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/17.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/18.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/19.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/20.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/21.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor comercial/22.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/1.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/2.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/3.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/4.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/5.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/6.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/7.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/8.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/9.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/10.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/11.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/12.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/13.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/14.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/15.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/16.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/17.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/18.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/19.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/20.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/21.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/22.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/23.png" class="clients-logo" />
            </div>

            <div class="logo-center" data-aos="fade-up" data-aos-delay="70" data-aos-duration="500" data-aos-once="true">
                <img src="~/Kohinor/images/logos/kohinor servicios/24.png" class="clients-logo" />
            </div>
        </div>

    </div>

    <div class="coverage-shape">
        <img src="~/Snuff/assets/images/coverage/shape-1.png" alt="image">
    </div>
    <div class="coverage-shape-2">
        <img src="~/Snuff/assets/images/coverage/shape-2.png" alt="image">
    </div>
</div>