﻿@{
    ViewData["Title"] = "Overview Section";
}

<div class="overview-area ptb-100">
    <div class="container">
        <div class="overview-content" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
            <span>@language.Getkey("Home_Index_Span_ConnectUs")</span>
            <h3>@language.Getkey("Home_Index_h_Banner_Desc")</h3>

            <ul class="overview-btn-group">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="default-btn">@language.Getkey("Home_Index_Anchor_PersonalAcc")</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="optional-btn">@language.Getkey("Home_Index_Anchor_BusinessAcc")</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="overview-shape">
        <img src="~/Snuff/assets/images/overview/shape-1.png" alt="image">
    </div>
    <div class="overview-shape-2">
        <img src="~/Snuff/assets/images/overview/shape-2.png" alt="image">
    </div>
</div>