﻿@{
    ViewData["Title"] = "Why Choose Us Section";
}

<div class="why-choose-us-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>@language.Getkey("Home_Index_Span_WhyChooseUs")</span>
                    <h3>@language.Getkey("Home_Index_h_WhyChooseUs_Title")</h3>
                    <p>@language.Getkey("Home_Index_p_WhyChooseUs_Desc")</p>

                    <ul class="choose-us-list">
                        <li>
                            <i class="ri-checkbox-circle-line"></i>
                            @language.Getkey("Home_Index_li_WhyChooseUs_Desc_1")
                        </li>
                        <li>
                            <i class="ri-checkbox-circle-line"></i>
                            @language.Getkey("Home_Index_li_WhyChooseUs_Desc_2")
                        </li>
                        <li>
                            <i class="ri-checkbox-circle-line"></i>
                            @language.Getkey("Home_Index_li_WhyChooseUs_Desc_3")
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-image">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-6">
                            <div class="choose-image" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                <img src="~/Kohinor/images/home/why_choose_us_1.png" alt="image" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="choose-image mb-25" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                <img src="~/Kohinor/images/home/why_choose_us_2.png" alt="image" />
                            </div>
                            <div class="choose-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                <img src="~/Kohinor/images/home/why_choose_us_3.png" alt="image" />
                            </div>
                        </div>
                    </div>
                    <div class="choose-shape" data-speed="0.08" data-revert="true">
                        <img src="~/Snuff/assets/images/why-choose-us/shape-1.png" alt="image">
                    </div>
                    <div class="choose-shape-2" data-speed="0.08" data-revert="true">
                        <img src="~/Snuff/assets/images/why-choose-us/shape-2.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>