﻿@{
    ViewData["Title"] = "About Us Page";
}

<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="page-banner-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <h2>@language.Getkey("AboutUs_Index_h_AboutUs")</h2>

                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">@language.Getkey("AboutUs_Index_li_Home")</a>
                        </li>
                        <li>@language.Getkey("AboutUs_Index_li_AboutUs")</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="page-banner-image" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Kohinor/images/home/aboutUs.png" alt="image" />
                    <div class="banner-shape">
                        <img src="~/Snuff/assets/images/page-banner/shape.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->

<!-- Start Team Area -->
<partial name="_OurTeam" asp-page="~/Views/Shared/_OurTeam.cshtml" />
<!-- End Team Area -->

<!-- Our Clients Area -->
<partial name="_OurClients" asp-page="~/Views/Shared/_OurClients.cshtml" />
<!-- End Our Clients  Area -->

<!-- Start Overview Area -->
<partial name="_Overview" asp-page="~/Views/Shared/_Overview.cshtml" />
<!-- End Overview Area -->

<!-- Start Map Area -->
<partial name="_Map" asp-page="~/Views/Shared/_Map.cshtml" />
<!-- End Map Area -->

@section scripts{
    <script>
        // jQuery
        $(document).ready(function () {
            $("#mainHeader").removeClass("main-header-area");
        });
    </script>
}