﻿@{
    ViewData["Title"] = "Pricing Page";
}

<!-- Start Page Banner Area -->
<div class="page-banner-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="page-banner-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <h2>Compare Pricing</h2>

                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>Compare</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="page-banner-image" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Snuff/assets/images/faq.png" alt="image">

                    <div class="banner-shape">
                        <img src="~/Snuff/assets/images/page-banner/shape.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Benefits Area -->
<partial name="_Modules" asp-page="~/Views/Shared/_Modules.cshtml" />
<!-- End Benefits Area -->
<!-- Start Pricing Area -->
<partial name="_OurPlans" asp-page="~/Views/Shared/_OurPlans.cshtml" />
<!-- End Pricing Area -->
<!-- Start Compare Pricing Area -->
<partial name="_ComparePricing" asp-page="~/Views/Shared/_ComparePricing.cshtml" />
<!-- End Compare Pricing Area -->
<!-- Start Review Area -->
@*<partial name="_ComparePricing" asp-page="~/Views/Shared/_CustomersReview.cshtml" />*@
<!-- End Review Area -->
<!-- Start Overview Area -->
<partial name="_Overview" asp-page="~/Views/Shared/_Overview.cshtml" />
<!-- End Overview Area -->


@section scripts{
    <script>
        // jQuery
        $(document).ready(function () {
            $("#mainHeader").removeClass("main-header-area");
        });
    </script>
}