﻿@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Main Banner Area -->
<div class="main-hero-area">
    <video class="background-video" autoplay loop muted playsinline>
        <source src="~/Kohinor/images/home/banner_8.mp4" type="video/mp4" />
    </video>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <div class="main-hero-content">
                    <span><i class="ri-lock-line"></i>@language.Getkey("Home_Index_Span_SimpleQuickSecure")</span>
                    <h1>@language.Getkey("Home_Index_h_hero_MainTitle")</h1>


                    <p class="text-white">@language.Getkey("Home_Index_p_hero_MainTitle") <a asp-area="" asp-controller="Pricing" asp-action="Index">@language.Getkey("Home_Index_Anchor_LearnMore")</a></p>

                    <div class="banner-btn">
                        <a asp-area="" asp-controller="Contact" asp-action="Index" class="default-btn">@language.Getkey("Home_Index_Anchor_ContactNow")</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <form id="contact-form" class="money-transfer-form-two">
                    <div class="money-transfer-content">
                        <h3>@language.Getkey("Home_Index_form_h_Hero_ContactInformation")</h3>

                        <div class="form-group mb-3">
                            <label for="full-name">@language.Getkey("Home_Index_form_label_Hero_FullName")</label>
                            <input type="text" id="full-name" name="full-name" class="form-control" autocomplete="off" placeholder="@language.Getkey("Home_Index_form_ph_Hero_FullName")" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">@language.Getkey("Home_Index_form_label_Hero_PhoneNumber")</label>
                            <input type="tel" id="phone" name="phone" class="form-control" autocomplete="off" placeholder="@language.Getkey("Home_Index_form_ph_Hero_PhoneNumber")" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="company">@language.Getkey("Home_Index_form_label_Hero_Company")</label>
                            <input type="text" id="company" name="company" class="form-control" autocomplete="off" placeholder="@language.Getkey("Home_Index_form_ph_Hero_Company")" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="email">@language.Getkey("Home_Index_form_label_Hero_Email")</label>
                            <input type="email" id="email" name="email" class="form-control" autocomplete="off" placeholder="@language.Getkey("Home_Index_form_ph_Hero_Email")" required>
                        </div>

                        <div class="amount-delivery-time">
                            <span>@language.Getkey("Home_Index_form_span_Hero_ContactSoon")</span>
                        </div>

                        <div class="amount-delivery-time">
                            <div id="form-message"></div>
                        </div>

                        <ul class="amount-btn-group">
                          
                            <li>
                                <button type="submit" class="optional-btn">@language.Getkey("Home_Index_form_btn_Hero_GetStarted")</button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="main-hero-shape">
        <img src="~/Snuff/assets/images/main-banner/shape-3.png" alt="image">
    </div>
    <div class="main-hero-shape-2">
        <img src="~/Snuff/assets/images/main-banner/shape-4.png" alt="image">
    </div>
</div>

<!-- End Main Banner Area -->
<!-- Start New Services Area -->
<partial name="_News" asp-page="~/Views/Shared/_News.cshtml" />
<!-- End New Services Area -->
<!-- Start Why Choose Us Area -->
<partial name="_WhyChooseUs" asp-page="~/Views/Shared/_WhyChooseUs.cshtml" />
<!-- End Why Choose Us Area -->
<!-- Start Compare Pricing Area -->
@*<partial name="_ComparePricing" asp-page="~/Views/Shared/_ComparePricing.cshtml" />*@
<!-- End Compare Pricing Area -->
<!-- Start Security Area -->
<div class="security-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="security-image">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-sm-6">
                            <div class="security-wrap" data-aos="fade-down" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                <img src="~/Kohinor/images/home/security_1.png" alt="image" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="security-wrap mb-25" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                <img src="~/Kohinor/images/home/security_2.png" alt="image" />
                            </div>
                            <div class="security-wrap" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                                <img src="~/Kohinor/images/home/security_3.png" alt="image" />
                            </div>
                        </div>
                    </div>

                    <div class="security-shape" data-speed="0.08" data-revert="true">
                        <img src="~/Snuff/assets/images/security/shape-1.png" alt="image">
                    </div>
                    <div class="security-shape-2" data-speed="0.08" data-revert="true">
                        <img src="~/Snuff/assets/images/security/shape-2.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="security-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>@language.Getkey("Home_Index_Span_Security")</span>
                    <h3>@language.Getkey("Home_Index_h_Security_Title")</h3>
                    <p>@language.Getkey("Home_Index_p_Security_Desc")</p>

                    <div class="security-inner-box">
                        <div class="icon">
                            <i class="flaticon-shield"></i>
                        </div>
                        <h4>@language.Getkey("Home_Index_h_Security_Desc_1")</h4>
                        <p>@language.Getkey("Home_Index_p_Security_Desc_1")</p>
                    </div>
                    <div class="security-inner-box">
                        <div class="icon">
                            <i class="flaticon-secure-shield"></i>
                        </div>
                        <h4>@language.Getkey("Home_Index_h_Security_Desc_2")</h4>
                        <p>@language.Getkey("Home_Index_p_Security_Desc_2")</p>
                    </div>
                    <div class="security-inner-box">
                        <div class="icon">
                            <i class="flaticon-secure-shield"></i>
                        </div>
                        <h4>@language.Getkey("Home_Index_h_Security_Desc_3")</h4>
                        <p>@language.Getkey("Home_Index_p_Security_Desc_3")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Security Area -->
<!-- Start Features Area -->
<partial name="_OurFeatures" asp-page="~/Views/Shared/_OurFeatures.cshtml" />
<!-- End Features Area -->
<!-- Our Clients Area -->
<partial name="_OurClients" asp-page="~/Views/Shared/_OurClients.cshtml" />
<!-- End Our Clients  Area -->
<!-- Start Overview Area -->
<partial name="_Overview" asp-page="~/Views/Shared/_Overview.cshtml" />
<!-- End Overview Area -->
<!-- Start FAQ Area -->
<div class="faq-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="faq-image" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Kohinor/images/home/faq_1.png" alt="faq" />
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="faq-item" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="faq-content">
                        <span>@language.Getkey("Home_Index_Span_FAQ")</span>
                        <h3>@language.Getkey("Home_Index_h_FAQ_Desc")</h3>
                    </div>

                    <div class="faq-accordion">
                        <div class="accordion" id="FaqAccordion">
                            <div class="accordion-item">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    @language.Getkey("Home_Index_Button_FAQ_1")
                                </button>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#FaqAccordion">
                                    <div class="accordion-body">
                                        <p>@language.Getkey("Home_Index_Button_FAQ_ANS_1")</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    @language.Getkey("Home_Index_Button_FAQ_2")
                                </button>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                    <div class="accordion-body">
                                        <p>@language.Getkey("Home_Index_Button_FAQ_ANS_2")</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    @language.Getkey("Home_Index_Button_FAQ_3")
                                </button>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#FaqAccordion">
                                    <div class="accordion-body">
                                        <p>@language.Getkey("Home_Index_Button_FAQ_ANS_3")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End FAQ Area -->
@section scripts{
    <script>
        // jQuery
        $(document).ready(function () {
            $("#mainHeader").removeClass("main-header-area");

            $("#contact-form").on("submit", function (event) {
                event.preventDefault(); // Evita que se recargue la página

                // Captura los datos del formulario
                const formData = {
                    FullName: $("#full-name").val(),
                    Phone: $("#phone").val(),
                    Company: $("#company").val(),
                    Email: $("#email").val()
                };

                // Enviar datos al servidor mediante AJAX
                $.ajax({
                    url: "/Home/SubmitForm", // Endpoint del controlador
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(formData),
                    success: function (response) {
                        const messageDiv = $("#form-message");

                        if (response.success) {
                            messageDiv.removeClass("d-none alert-danger").addClass("alert-success");
                            messageDiv.text(response.message);
                            $("#contact-form")[0].reset(); // Limpia el formulario
                        } else {
                            messageDiv.removeClass("d-none alert-success").addClass("alert-danger");
                            messageDiv.text(response.message);
                        }
                    },
                    error: function () {
                        const messageDiv = $("#form-message");
                        messageDiv.removeClass("d-none alert-success").addClass("alert-danger");
                        messageDiv.text("Ocurrió un error inesperado. Inténtalo más tarde.");
                    }
                });
            });
        });
 
    </script>

<style>
    .background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        pointer-events: none;
    }
    .alert {
        margin-top: 15px;
        padding: 10px;
        border-radius: 5px;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }

    .d-none {
        display: none;
    }
    .money-transfer-form-two .money-transfer-content .form-group .form-control {
        padding-right: 0px;
    }
        .money-transfer-form-two .money-transfer-content .form-group .form-control::placeholder {
            opacity: 0.5;
        }
</style>
}