﻿<!-- Start Main Banner Area -->
<div class="main-hero-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-9 col-md-12" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <div class="main-hero-content">
                    <span><i class="ri-lock-line"></i>@language.Getkey("Home_Index_Span_SimpleQuickSecure")</span>

                    <h1>@language.Getkey("Home_Business_h_Main_Title")</h1>
                    <p class="text-white">@language.Getkey("Home_Business_span_Main_Desc")</p>

                    <div class="banner-btn">
                        <a asp-area="" asp-controller="Contact" asp-action="Index" class="default-btn">@language.Getkey("Home_Index_Anchor_ContactNow")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-banner-shape" data-speed="0.08" data-revert="true">
        <img src="~/Snuff/assets/images/main-banner/shape-1.png" alt="image">
    </div>
    <div class="main-hero-shape">
        <img src="~/Snuff/assets/images/main-banner/shape-3.png" alt="image">
    </div>
    <div class="main-hero-shape-2">
        <img src="~/Snuff/assets/images/main-banner/shape-4.png" alt="image">
    </div>
</div>
<!-- End Main Banner Area -->
<!-- Start Business Advantages Area -->
<div class="reliable-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="reliable-image" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Snuff/assets/images/reliable/reliable.png" alt="image">

                    <div class="reliable-shape">
                        <img src="~/Snuff/assets/images/reliable/shape-1.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>@language.Getkey("Home_Business_span_Advantages")</span>
                    <h3>@language.Getkey("Home_Business_span_Advantages_Title")</h3>
                    <p>@language.Getkey("Home_Business_p_Advantages_Desc")</p>

                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <ul class="reliable-list">
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_1")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_2")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_3")</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="reliable-list">
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_4")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_5")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_6")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Business Advantages Area -->
<!-- Start Kohinor Benefits Area -->
<partial name="_Benefits" asp-page="~/Views/Shared/_Benefits.cshtml" />
<!-- End Kohinor Benefits Area -->
<!-- Start Paiement Area -->
@*<div class="paiement-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="paiement-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>Paiement Services Worldwide</span>
                    <h3>Easily Grow Your Business Save More Money</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Volutpat nisl bibendum vitae consequat. Nisl ut sed accumsan congue tempus fringilla diam arcu. Venenatis nulla senectus risus sagittis.</p>

                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <ul class="paiement-list">
                                <li><i class="ri-check-line"></i> Reliable Online Payment</li>
                                <li><i class="ri-check-line"></i> Low Transaction Fee</li>
                                <li><i class="ri-check-line"></i> Affordable Security Packages</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="paiement-list">
                                <li><i class="ri-check-line"></i> Best Networking</li>
                                <li><i class="ri-check-line"></i> Secure Payment Service</li>
                                <li><i class="ri-check-line"></i> Real Time Money Tracking</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="paiement-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Snuff/assets/images/paiement.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- End Paiement Area -->
<!-- Start Pricing Area -->
@*<partial name="_OurPlansLEGACY" asp-page="~/Views/Shared/_OurPlansLEGACY.cshtml" />*@
<!-- End Pricing Area -->
<!-- Start Modules Area -->
<partial name="_Modules" asp-page="~/Views/Shared/_Modules.cshtml" />
<!-- End Modules Area -->
<!-- Start Features Area -->
<partial name="_OurFeatures" asp-page="~/Views/Shared/_OurFeatures.cshtml" />
<!-- End Features Area -->
<!-- Start Clients Area -->
<partial name="_OurClients" asp-page="~/Views/Shared/_OurClients.cshtml" />
<!-- End Clients Area -->
<!-- Start Overview Area -->
<partial name="_Overview" asp-page="~/Views/Shared/_Overview.cshtml" />
<!-- End Overview Area -->
@section scripts{
    <script>
        // jQuery
        $(document).ready(function () {
            $("#mainHeader").removeClass("main-header-area");
        });
    </script>
}