﻿ <!-- Start Main Hero Area -->
<div class="main-hero-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-9 col-md-12" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <div class="main-hero-content">
                    <span><i class="ri-lock-line"></i>@language.Getkey("Home_Index_Span_SimpleQuickSecure")</span>

                    <h1>@language.Getkey("Home_Personal_Span_MainTitle")</h1>

                    <div class="banner-btn">
                        <a asp-area="" asp-controller="Contact" asp-action="Index" class="default-btn">@language.Getkey("Home_Index_Anchor_ContactNow")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-banner-shape" data-speed="0.08" data-revert="true">
        <img src="~/Snuff/assets/images/main-banner/shape-1.png" alt="image">
    </div>
    <div class="main-hero-shape">
        <img src="~/Snuff/assets/images/main-banner/shape-3.png" alt="image">
    </div>
    <div class="main-hero-shape-2">
        <img src="~/Snuff/assets/images/main-banner/shape-4.png" alt="image">
    </div>
</div>
<!-- End Main Hero Area -->
<!-- Start Getting Started Area -->
<div class="getting-started-area-with-transparent ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="getting-started-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>@language.Getkey("Home_Personal_Span_GettingStarted")</span>
                    <h3>@language.Getkey("Home_Personal_h_GettingStarted_Tittle")</h3>

                    <div class="getting-started-accordion">
                        <div class="accordion" id="GettingAccordion">
                            <div class="accordion-item">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    1. @language.Getkey("Home_Personal_button_GettingStarted_1_Tittle")
                                </button>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#GettingAccordion">
                                    <div class="accordion-body">
                                        <p>@language.Getkey("Home_Personal_p_GettingStarted_1_Desc")</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    2. @language.Getkey("Home_Personal_button_GettingStarted_2_Tittle")
                                </button>
                                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#GettingAccordion">
                                    <div class="accordion-body">
                                        <p>@language.Getkey("Home_Personal_p_GettingStarted_2_Desc")</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    3. @language.Getkey("Home_Personal_button_GettingStarted_3_Tittle")
                                </button>
                                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#GettingAccordion">
                                    <div class="accordion-body">
                                        <p>@language.Getkey("Home_Personal_p_GettingStarted_3_Desc")</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    4. @language.Getkey("Home_Personal_button_GettingStarted_4_Tittle")
                                </button>
                                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#GettingAccordion">
                                    <div class="accordion-body">
                                        <p>@language.Getkey("Home_Personal_p_GettingStarted_4_Desc")</p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    5. @language.Getkey("Home_Personal_button_GettingStarted_5_Tittle")
                                </button>
                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#GettingAccordion">
                                    <div class="accordion-body">
                                        <p>@language.Getkey("Home_Personal_p_GettingStarted_5_Desc")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="getting-started-image" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">

                    <img src="~/Kohinor/images/home/personal-2.png" alt="image" />
                    @*<div class="video-view" data-speed="0.08" data-revert="true">
                            <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M" class="video-btn popup-youtube">
                                <i class="ri-play-circle-line"></i>
                            </a>
                        </div>*@

                    <div class="getting-shape">
                        <img src="~/Snuff/assets/images/getting-started/shape-1.png" alt="image">
                    </div>
                    <div class="getting-shape-2">
                        <img src="~/Snuff/assets/images/getting-started/shape-2.png" alt="image">
                    </div>
                    <div class="getting-shape-3">
                        <img src="~/Snuff/assets/images/getting-started/shape-3.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Getting Started Area -->
<!-- Start Kohinor Benefits Area -->
<partial name="_Benefits" asp-page="~/Views/Shared/_Benefits.cshtml" />
<!-- End Kohinor Benefits Area -->
<!-- Start Pricing Area -->
@*<partial name="_OurPlansLITE" asp-page="~/Views/Shared/_OurPlansLITE.cshtml" />*@
<!-- End Pricing Area -->
<!-- Start Compare Pricing Area -->
@*<partial name="_ComparePricing" asp-page="~/Views/Shared/_ComparePricing.cshtml" />*@
<!-- End Compare Pricing Area -->
<!-- Start Modules Area -->
<div class="benefits-area pt-100 pb-75" style="background-color: var(--optional-color);">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("Pricing_Index_Span_Modules")</span>
            <h2 class="text-white">@language.Getkey("Pricing_Index_h_Modules_Title")</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6" id="m_2">
                <div id="ms_2" class="single-benefits-card" data-aos="fade-up" data-aos-delay="40" data-aos-duration="400" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/2-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_2")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_2")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_3">
                <div id="ms_3" class="single-benefits-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/3-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_3")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_3")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_4">
                <div id="ms_4" class="single-benefits-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/4-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_4")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_4")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_10">
                <div id="ms_10" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/10-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_10")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_10")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modules Area -->
<!-- Start Clients Area -->
<partial name="_OurClients" asp-page="~/Views/Shared/_OurClients.cshtml" />
<!-- End Clients Area -->
<!-- Start Overview Area -->
<partial name="_Overview" asp-page="~/Views/Shared/_Overview.cshtml" />
<!-- End Overview Area -->

@section scripts{
    <script>
        // jQuery
        $(document).ready(function () {
            $("#mainHeader").removeClass("main-header-area");
        });
    </script>

    <style>
        .main-hero-area {
            background-image: url('../../../kohinor/images/home/banner_3.jpg');
            background-position: center right;
        }
    </style>
}