﻿<!-- Start Main Banner Area -->
<div class="main-hero-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-9 col-md-12" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <div class="main-hero-content">
                    <span><i class="ri-lock-line"></i>@language.Getkey("Home_Index_Span_SimpleQuickSecure")</span>

                    <h1>@language.Getkey("Home_Business_h_Main_Title")</h1>
                    <p class="text-white">@language.Getkey("Home_Business_span_Main_Desc")</p>

                    <div class="banner-btn">
                        <a asp-area="" asp-controller="Contact" asp-action="Index" class="default-btn">@language.Getkey("Home_Index_Anchor_ContactNow")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-banner-shape" data-speed="0.08" data-revert="true">
        <img src="~/Snuff/assets/images/main-banner/shape-1.png" alt="image">
    </div>
    <div class="main-hero-shape">
        <img src="~/Snuff/assets/images/main-banner/shape-3.png" alt="image">
    </div>
    <div class="main-hero-shape-2">
        <img src="~/Snuff/assets/images/main-banner/shape-4.png" alt="image">
    </div>
</div>
<!-- End Main Banner Area -->
<!-- Start Paiement Area -->
<div class="paiement-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="paiement-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>@language.Getkey("Home_Plus_span_Title")</span>
                    <h3>@language.Getkey("Home_Plus_h_OptimizeBusiness")</h3>
                    <p>@language.Getkey("Home_Plus_p_Description")</p>

                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <ul class="paiement-list">
                                <li>
                                    <i class="ri-check-line"></i> @language.Getkey("Home_Plus_li_Feature1")
                                </li>
                                <li>
                                    <i class="ri-check-line"></i> @language.Getkey("Home_Plus_li_Feature2")
                                </li>
                                <li>
                                    <i class="ri-check-line"></i> @language.Getkey("Home_Plus_li_Feature3")
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="paiement-list">
                                <li>
                                    <i class="ri-check-line"></i> @language.Getkey("Home_Plus_li_Feature4")
                                </li>
                                <li>
                                    <i class="ri-check-line"></i> @language.Getkey("Home_Plus_li_Feature5")
                                </li>
                                <li>
                                    <i class="ri-check-line"></i> @language.Getkey("Home_Plus_li_Feature6")
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="paiement-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Snuff/assets/images/paiement.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Paiement Area -->
<!-- Start Kohinor Benefits Area -->
<partial name="_Benefits" asp-page="~/Views/Shared/_Benefits.cshtml" />
<!-- End Kohinor Benefits Area -->
<!-- Start Pricing Area -->
@*<partial name="_OurPlansPLUS" asp-page="~/Views/Shared/_OurPlansPLUS.cshtml" />*@
<!-- End Pricing Area -->
<!-- Start Compare Pricing Area -->
@*<partial name="_ComparePricing" asp-page="~/Views/Shared/_ComparePricing.cshtml" />*@
<!-- End Compare Pricing Area -->
<!-- Start Modules Area -->
<div class="benefits-area pt-100 pb-75" style="background-color: var(--optional-color);">
    <div class="container">
        <div class="section-title">
            <span>@language.Getkey("Pricing_Index_Span_Modules")</span>
            <h2 class="text-white">@language.Getkey("Pricing_Index_h_Modules_Title")</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6" id="m_1">
                <div id="ms_1" class="single-benefits-card" data-aos="fade-up" data-aos-delay="30" data-aos-duration="300" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/1-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_1")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_1")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_2">
                <div id="ms_2" class="single-benefits-card" data-aos="fade-up" data-aos-delay="40" data-aos-duration="400" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/2-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_2")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_2")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_3">
                <div id="ms_3" class="single-benefits-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/3-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_3")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_3")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_4">
                <div id="ms_4" class="single-benefits-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/4-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_4")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_4")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_5">
                <div id="ms_5" class="single-benefits-card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/5-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_5")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_5")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_6">
                <div id="ms_6" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/6-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_6")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_6")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_7">
                <div id="ms_7" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/7-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_7")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_7")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_8">
                <div id="ms_8" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/8-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_8")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_8")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_9">
                <div id="ms_9" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/9-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_9")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_9")</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6" id="m_10">
                <div id="ms_10" class="single-benefits-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
                    <div class="benefits-content row flex-lg-row flex-sm-column-reverse">
                        <div class="col-md-12 col-lg-2 d-flex align-items-center justify-content-center mt-md-4 mt-lg-0">
                            <img src="~/Kohinor/images/icons/10-min.png" />
                        </div>
                        <div class="col-md-12 col-lg-10">
                            <h3>@language.Getkey("Pricing_Index_h_Modules_10")</h3>
                            <p>@language.Getkey("Pricing_Index_p_Modules_10")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modules Area --
<!-- Start Clients Area -->
<partial name="_OurClients" asp-page="~/Views/Shared/_OurClients.cshtml" />
<!-- End Clients Area -->
<!-- Start Overview Area -->
<partial name="_Overview" asp-page="~/Views/Shared/_Overview.cshtml" />
<!-- End Overview Area -->
@section scripts{
    <script>
        // jQuery
        $(document).ready(function () {
            $("#mainHeader").removeClass("main-header-area");
        });
    </script>
    <style>
        .main-hero-area {
            background-image: url('../../../kohinor/images/home/banner_4.jpg');
            background-position: center left;
        }
    </style>
}