﻿<!-- Start Main Banner Area -->
<div class="main-hero-area">
    <video class="background-video" autoplay loop muted playsinline>
        <source src="~/Kohinor/images/home/banner_7.mp4" type="video/mp4" />
    </video>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <div class="main-hero-content">
                    <span><i class="ri-lock-line"></i>@language.Getkey("Home_Index_Span_SimpleQuickSecure")</span>
                    <h1>@language.Getkey("Home_Index_h_hero_MainTitle")</h1>

                    <p class="text-white">
                        @language.Getkey("Home_Index_p_hero_MainTitle")
                        <a asp-area="" asp-controller="Pricing" asp-action="Index">@language.Getkey("Home_Index_Anchor_LearnMore")</a>
                    </p>

                    <div class="banner-btn">
                        <a asp-area="" asp-controller="Contact" asp-action="Index" class="default-btn">@language.Getkey("Home_Index_Anchor_ContactNow")</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                <form class="money-transfer-form-two">
                    <div class="money-transfer-content">
                        <h3>@language.Getkey("Home_Index_form_h_Hero_ContactInformation")</h3>

                        <div class="form-group mb-3">
                            <label for="full-name">@language.Getkey("Home_Index_form_label_Hero_FullName")</label>
                            <input type="text" id="full-name" name="full-name" class="form-control" autocomplete="off" placeholder="@language.Getkey("Home_Index_form_ph_Hero_FullName")" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">@language.Getkey("Home_Index_form_label_Hero_PhoneNumber")</label>
                            <input type="tel" id="phone" name="phone" class="form-control" autocomplete="off" placeholder="@language.Getkey("Home_Index_form_ph_Hero_PhoneNumber")" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="company">@language.Getkey("Home_Index_form_label_Hero_PhoneNumber")</label>
                            <input type="text" id="company" name="company" class="form-control" autocomplete="off" placeholder="@language.Getkey("Home_Index_form_ph_Hero_Company")" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="email">@language.Getkey("Home_Index_form_label_Hero_Email")</label>
                            <input type="email" id="email" name="email" class="form-control" autocomplete="off" placeholder="@language.Getkey("Home_Index_form_ph_Hero_Email")" required>
                        </div>

                        <div class="amount-delivery-time">
                            <span>@language.Getkey("Home_Index_form_span_Hero_ContactSoon")</span>
                        </div>

                        <ul class="amount-btn-group">
                            <li>
                                <a href="compare-pricing.html" class="default-btn">@language.Getkey("Home_Index_form_btn_Hero_ComparePrice")</a>
                            </li>
                            <li>
                                <button type="button" class="optional-btn">@language.Getkey("Home_Index_form_btn_Hero_GetStarted")</button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End Main Banner Area -->
<!-- Start Business Advantages Area -->
<div class="reliable-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="reliable-image" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Snuff/assets/images/reliable/reliable.png" alt="image">

                    <div class="reliable-shape">
                        <img src="~/Snuff/assets/images/reliable/shape-1.png" alt="image">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>@language.Getkey("Home_Business_span_Advantages")</span>
                    <h3>@language.Getkey("Home_Business_span_Advantages_Title")</h3>
                    <p>@language.Getkey("Home_Business_p_Advantages_Desc")</p>

                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <ul class="reliable-list">
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_1")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_2")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_3")</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="reliable-list">
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_4")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_5")</li>
                                <li><i class="ri-check-line"></i>@language.Getkey("Home_Business_li_Advantages_6")</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Business Advantages Area -->
<!-- Start Kohinor Benefits Area -->
<partial name="_Benefits" asp-page="~/Views/Shared/_Benefits.cshtml" />
<!-- End Kohinor Benefits Area -->
<!-- Start Paiement Area -->
<div class="paiement-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="paiement-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <span>Paiement Services Worldwide</span>
                    <h3>Easily Grow Your Business Save More Money</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Volutpat nisl bibendum vitae consequat. Nisl ut sed accumsan congue tempus fringilla diam arcu. Venenatis nulla senectus risus sagittis.</p>

                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <ul class="paiement-list">
                                <li><i class="ri-check-line"></i> Reliable Online Payment</li>
                                <li><i class="ri-check-line"></i> Low Transaction Fee</li>
                                <li><i class="ri-check-line"></i> Affordable Security Packages</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="paiement-list">
                                <li><i class="ri-check-line"></i> Best Networking</li>
                                <li><i class="ri-check-line"></i> Secure Payment Service</li>
                                <li><i class="ri-check-line"></i> Real Time Money Tracking</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="paiement-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Snuff/assets/images/paiement.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Paiement Area -->
<!-- Start Pricing Area -->
<div class="pricing-area pb-75">
    <div class="container">
        <div class="section-title">
            <span>Our Pricing Plan</span>
            <h2>We Charge As Little As Possible. No Subscription Fee</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-pricing-table" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <div class="pricing-header">
                        <h3>Basic</h3>
                    </div>
                    <div class="price">$15 <span>Per Monthly</span></div>
                    <div class="pricing-btn">
                        <a href="pricing.html" class="default-btn">Choose This Plan</a>
                    </div>
                    <ul class="features-list">
                        <li><i class="ri-check-line"></i> Free Mobile & Online App</li>
                        <li><i class="ri-check-line"></i> Online System</li>
                        <li><i class="ri-check-line"></i> Data full Access</li>
                        <li><i class="ri-check-line"></i> 1 Business Mastercard</li>
                        <li><i class="ri-check-line"></i> International Payment</li>
                        <li><i class="ri-check-line"></i> Support Unlimited</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-pricing-table" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
                    <div class="pricing-header">
                        <h3>Standard</h3>
                    </div>
                    <div class="price">$70 <span>Per Monthly</span></div>
                    <div class="pricing-btn">
                        <a href="pricing.html" class="default-btn">Choose This Plan</a>
                    </div>
                    <ul class="features-list">
                        <li><i class="ri-check-line"></i> Free Mobile & Online App</li>
                        <li><i class="ri-check-line"></i> Online System</li>
                        <li><i class="ri-check-line"></i> Data full Access</li>
                        <li><i class="ri-check-line"></i> 1 Business Mastercard</li>
                        <li><i class="ri-check-line"></i> International Payment</li>
                        <li><i class="ri-check-line"></i> Support Unlimited</li>
                    </ul>
                    <div class="best-sale">Best Sale</div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-pricing-table" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
                    <div class="pricing-header">
                        <h3>Premium</h3>
                    </div>
                    <div class="price">$99 <span>Per Monthly</span></div>
                    <div class="pricing-btn">
                        <a href="pricing.html" class="default-btn">Choose This Plan</a>
                    </div>
                    <ul class="features-list">
                        <li><i class="ri-check-line"></i> Free Mobile & Online App</li>
                        <li><i class="ri-check-line"></i> Online System</li>
                        <li><i class="ri-check-line"></i> Data full Access</li>
                        <li><i class="ri-check-line"></i> 1 Business Mastercard</li>
                        <li><i class="ri-check-line"></i> International Payment</li>
                        <li><i class="ri-check-line"></i> Support Unlimited</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Pricing Area -->
<!-- Start Modules Area -->
<partial name="_Modules" asp-page="~/Views/Shared/_Modules.cshtml" />
<!-- End Modules Area -->
<!-- Start Features Area -->
<partial name="_OurFeatures" asp-page="~/Views/Shared/_OurFeatures.cshtml" />
<!-- End Features Area -->
<!-- Start Clients Area -->
<partial name="_OurClients" asp-page="~/Views/Shared/_OurClients.cshtml" />
<!-- End Clients Area -->
<!-- Start Overview Area -->
<partial name="_Overview" asp-page="~/Views/Shared/_Overview.cshtml" />
<!-- End Overview Area -->
@section scripts{
    <script>
        // jQuery
        $(document).ready(function () {
            $("#mainHeader").removeClass("main-header-area");
        });
    </script>
    <style>
        .main-hero-area {
            background-image: url('../../../kohinor/images/home/banner_6.jpg');
            background-position: center left;
        }
        .background-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            pointer-events: none; 
        }
        
    </style>
}