/*================================================
Default CSS
=================================================*/
.switch-box {
  position: fixed;
  z-index: 1;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.switch-box .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-box .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 2.5px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0px 15px var(--white-color);
          box-shadow: 0 0px 15px var(--white-color);
  background-image: url(../../assets/images/night.png);
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box input:checked + .slider {
  background-color: var(--main-color);
}

.switch-box input:focus + .slider {
  -webkit-box-shadow: 0 0 1px --main-color;
          box-shadow: 0 0 1px --main-color;
}

.switch-box input:checked + .slider:before {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  background-image: url(../../assets/images/sunny.png);
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box .slider.round {
  border-radius: 50px;
}

.switch-box .slider.round:before {
  border-radius: 50%;
}

.theme-light .black-logo {
  display: block;
}

.theme-light .white-logo {
  display: none;
}

.theme-dark .black-logo {
  display: none;
}

.theme-dark .white-logo {
  display: block;
}

.theme-dark body {
  background-color: #000000;
  color: #f1f1f1;
}

.theme-dark p {
  color: #f1f1f1;
}

.theme-dark p a {
  color: #f1f1f1 !important;
}

.theme-dark p a:hover {
  color: var(--main-color) !important;
}

.theme-dark .h1, .theme-dark .h2, .theme-dark .h3, .theme-dark .h4, .theme-dark .h5, .theme-dark .h6, .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
  color: var(--white-color) !important;
}

.theme-dark .h1 a, .theme-dark .h2 a, .theme-dark .h3 a, .theme-dark .h4 a, .theme-dark .h5 a, .theme-dark .h6 a, .theme-dark h1 a, .theme-dark h2 a, .theme-dark h3 a, .theme-dark h4 a, .theme-dark h5 a, .theme-dark h6 a {
  color: var(--white-color) !important;
}

.theme-dark .h1 a:hover, .theme-dark .h2 a:hover, .theme-dark .h3 a:hover, .theme-dark .h4 a:hover, .theme-dark .h5 a:hover, .theme-dark .h6 a:hover, .theme-dark h1 a:hover, .theme-dark h2 a:hover, .theme-dark h3 a:hover, .theme-dark h4 a:hover, .theme-dark h5 a:hover, .theme-dark h6 a:hover {
  color: var(--main-color) !important;
}

.theme-dark .topbar-area {
  background-color: #000000;
}

.theme-dark .language-option .language-dropdown-menu {
  background-color: #0e0e0e;
}

.theme-dark .language-option .language-dropdown-menu .dropdown-item {
  color: var(--white-color);
  border-bottom: 1px solid #000000;
  background-color: #0e0e0e;
}

.theme-dark .language-option .language-dropdown-menu .dropdown-item.selected {
  background-color: var(--main-color);
  color: var(--white-color);
}

.theme-dark .main-navbar {
  background-color: #0e0e0e;
}

.theme-dark .main-navbar .navbar .navbar-list ul li::before {
  background-color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-list ul li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-list ul li a:hover {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item:hover a, .theme-dark .main-navbar .navbar .navbar-nav .nav-item.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #0e0e0e;
  border: 1px solid #000000;
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--white-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: var(--main-color);
}

.theme-dark .main-banner-area {
  background-color: #0e0e0e;
}

.theme-dark .main-banner-content .trust-content li span {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content {
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

.theme-dark .money-transfer-form .money-transfer-content .form-group {
  background: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .money-transfer-form .money-transfer-content .form-group label {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .form-group .form-control {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .form-group .amount-currency-select button {
  background-color: #000000;
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .form-group .amount-currency-select .currency-dropdown-menu {
  background-color: #0e0e0e;
}

.theme-dark .money-transfer-form .money-transfer-content .form-group .amount-currency-select .currency-dropdown-menu .dropdown-item {
  color: var(--white-color);
  border-bottom: 1px solid #0e0e0e;
  background-color: #000000;
}

.theme-dark .money-transfer-form .money-transfer-content .form-group .amount-currency-select .currency-dropdown-menu .dropdown-item.selected {
  background-color: var(--main-color);
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .form-group .lock-icon i {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info::before {
  background-color: #0e0e0e;
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info li .info-icon i {
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info li .info-left b {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info li .info-left span {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info li .info-left strong {
  color: #0FC9BB;
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info li .info-right .amount-currency-select button {
  background: #0e0e0e;
  border: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info li .info-right .amount-currency-select .currency-dropdown-menu {
  background-color: #0e0e0e;
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info li .info-right .amount-currency-select .currency-dropdown-menu .dropdown-item {
  color: var(--white-color);
  border-bottom: 1px solid #0e0e0e;
  background-color: #000000;
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info li .info-right .amount-currency-select .currency-dropdown-menu .dropdown-item.selected {
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 5px;
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info li .info-right .fee-text {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .amount-currency-info li .info-right span {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .amount-delivery-time span {
  color: var(--white-color);
}

.theme-dark .money-transfer-form .money-transfer-content .amount-delivery-time span b {
  color: var(--white-color);
}

.theme-dark .getting-started-area {
  background: #050404;
  border-top: 1px solid #0e0e0e;
}

.theme-dark .single-getting-started-card {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .single-getting-started-card:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .why-choose-us-content .choose-us-list li {
  background-color: #0e0e0e;
}

.theme-dark .compare-pricing-table table thead tr th {
  color: var(--white-color);
}

.theme-dark .compare-pricing-table table thead tr th.bg-2A3F65 {
  background-color: var(--black-color);
}

.theme-dark .compare-pricing-table table tbody tr td {
  color: var(--white-color);
}

.theme-dark .compare-pricing-table table tbody tr td.bg-2A3F65 {
  background-color: var(--black-color);
  color: var(--white-color);
}

.theme-dark .compare-pricing-table table tbody tr td span {
  color: var(--white-color);
}

.theme-dark .compare-pricing-table table tbody tr td .color-0FC9BB {
  color: #0FC9BB;
}

.theme-dark .compare-pricing-table table tbody tr td .color-FD6E5C {
  color: #FD6E5C;
}

.theme-dark .compare-pricing-table table tbody tr td .color-fff {
  color: var(--white-color);
}

.theme-dark .compare-pricing-table table tbody tr td.color-009286 {
  color: #009286;
}

.theme-dark .compare-pricing-table table tbody tr td.color-5D7079 {
  color: var(--white-color);
}

.theme-dark .compare-pricing-table table tbody tr td.color-90006F {
  color: #90006F;
}

.theme-dark .compare-pricing-table table tbody tr.bg-F7F7F7 {
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .compare-pricing-table table tbody:not(:first-child) {
  border-top: unset;
}

.theme-dark .security-area {
  background-color: #0e0e0e;
}

.theme-dark .single-features-card {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .single-features-card .content .list li {
  color: var(--white-color);
}

.theme-dark .single-features-card:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .coverage-area {
  background-color: #0e0e0e;
}

.theme-dark .single-coverage-card {
  border: 1px solid #000000;
  background-color: #000000;
}

.theme-dark .single-coverage-card .content .coverage-image img {
  border: 1px solid #0e0e0e;
}

.theme-dark .single-coverage-card:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .review-area.bg-F4F5F5 {
  background-color: #0e0e0e;
}

.theme-dark .single-review-box {
  background-color: #0e0e0e;
  border: 1px solid #000000;
}

.theme-dark .single-review-box .review-info span {
  color: var(--white-color);
}

.theme-dark .single-review-box:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .single-review-card {
  background-color: #0e0e0e;
  border: 1px solid #000000;
}

.theme-dark .single-review-card .review-info span {
  color: var(--white-color);
}

.theme-dark .single-review-card:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .review-optional-content p b {
  color: var(--white-color);
}

.theme-dark .review-optional-content p span {
  color: var(--main-color);
}

.theme-dark .faq-accordion .accordion-item {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
}

.theme-dark .faq-accordion .accordion-item .accordion-button {
  color: var(--white-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-button::before {
  color: var(--main-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-button.collapsed::before {
  color: var(--white-color);
}

.theme-dark .faq-accordion .accordion-item .accordion-body p {
  color: var(--white-color);
}

.theme-dark .faq-accordion .accordion-item:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .footer-area {
  background-color: #0e0e0e;
}

.theme-dark .single-footer-widget .newsletter-form .input-newsletter {
  background-color: #000000;
  border: 1px solid #000000;
  color: var(--white-color);
}

.theme-dark .single-footer-widget .newsletter-form .input-newsletter::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .newsletter-form .input-newsletter:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .newsletter-form .input-newsletter::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .newsletter-form .input-newsletter::placeholder {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .newsletter-form .input-newsletter:focus {
  border: 1px solid var(--main-color);
}

.theme-dark .single-footer-widget .newsletter-form .input-newsletter:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .newsletter-form .input-newsletter:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .newsletter-form .input-newsletter:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .newsletter-form .input-newsletter:focus::placeholder {
  color: transparent;
}

.theme-dark .single-footer-widget .quick-links li a {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .quick-links li a:hover {
  color: var(--main-color);
}

.theme-dark .single-footer-widget .info-links li {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .info-links li a {
  color: var(--white-color);
}

.theme-dark .single-footer-widget .info-links li a:hover {
  color: var(--main-color);
}

.theme-dark .copyright-area {
  border-top: 1px solid #000000;
}

.theme-dark .money-transfer-form-two {
  border: 1px solid #000000;
  background-color: #000000;
}

.theme-dark .money-transfer-form-two .money-transfer-content {
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group {
  background: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group label {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group .form-control {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group .amount-currency-select button {
  background-color: #000000;
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group .amount-currency-select .currency-dropdown-menu {
  background-color: #0e0e0e;
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group .amount-currency-select .currency-dropdown-menu .dropdown-item {
  color: var(--white-color);
  border-bottom: 1px solid #0e0e0e;
  background-color: #000000;
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group .amount-currency-select .currency-dropdown-menu .dropdown-item.selected {
  background-color: var(--main-color);
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .form-group .lock-icon i {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info::before {
  background-color: #0e0e0e;
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info li .info-icon i {
  background-color: #0e0e0e;
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info li .info-left b {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info li .info-left span {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info li .info-left strong {
  color: #0FC9BB;
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info li .info-right .amount-currency-select button {
  background: #0e0e0e;
  border: 1px solid #0e0e0e;
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info li .info-right .amount-currency-select .currency-dropdown-menu {
  background-color: #0e0e0e;
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info li .info-right .amount-currency-select .currency-dropdown-menu .dropdown-item {
  color: var(--white-color);
  border-bottom: 1px solid #0e0e0e;
  background-color: #000000;
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info li .info-right .amount-currency-select .currency-dropdown-menu .dropdown-item.selected {
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 5px;
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info li .info-right .fee-text {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-currency-info li .info-right span {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-delivery-time span {
  color: var(--white-color);
}

.theme-dark .money-transfer-form-two .money-transfer-content .amount-delivery-time span b {
  color: var(--white-color);
}

.theme-dark .getting-started-accordion .accordion-item .accordion-button {
  color: var(--white-color);
}

.theme-dark .getting-started-accordion .accordion-item .accordion-body p {
  color: var(--white-color);
}

.theme-dark .global-transfers-area {
  background-color: #0e0e0e;
}

.theme-dark .single-global-transfers-card {
  border: 1px solid #000000;
}

.theme-dark .single-global-transfers-card:hover {
  background-color: #000000;
  border: 1px solid var(--main-color);
}

.theme-dark .single-benefits-card {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .single-benefits-card:hover {
  border: 1px solid var(--optional-color);
}

.theme-dark .single-features-box .list li {
  color: var(--white-color);
}

.theme-dark .main-banner-area-wrap {
  background-color: #000000;
  border-bottom: 1px solid #0e0e0e;
}

.theme-dark .reliable-content .reliable-list li {
  color: var(--white-color);
}

.theme-dark .paiement-content .paiement-list li {
  color: var(--white-color);
}

.theme-dark .single-pricing-table {
  border: 1px solid #0e0e0e;
}

.theme-dark .single-pricing-table .price span {
  color: var(--white-color);
}

.theme-dark .single-pricing-table .features-list li {
  color: var(--white-color);
}

.theme-dark .single-pricing-table:hover {
  border: 1px solid #0e0e0e;
  background-color: #0e0e0e;
}

.theme-dark .single-blog-card {
  border: 1px solid #0e0e0e;
}

.theme-dark .single-blog-card:hover {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .page-banner-area {
  background-color: #050404;
}

.theme-dark .page-banner-content ul li a {
  color: var(--white-color);
}

.theme-dark .page-banner-content ul li a:hover {
  color: var(--main-color);
}

.theme-dark .single-funfact-box {
  background-color: #0e0e0e;
}

.theme-dark .page-banner-wrap-area {
  background-color: #050404;
}

.theme-dark .page-banner-wrap-area::before {
  background-color: #050404;
}

.theme-dark .help-center-box .search-form .form-control {
  color: var(--white-color);
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .help-center-box .search-form .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .help-center-box .search-form .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .help-center-box .search-form .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .help-center-box .search-form .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .help-center-box .search-form .form-control:focus {
  border: 1px solid var(--main-color);
}

.theme-dark .help-center-box .search-form .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .help-center-box .search-form .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .help-center-box .search-form .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .help-center-box .search-form .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .single-explore-card {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .single-explore-card:hover {
  border: 1px solid var(--optional-color);
}

.theme-dark .coverage-area-without-color {
  background-color: #0e0e0e;
}

.theme-dark .team-area.bg-F7F7F7 {
  background-color: #0e0e0e;
}

.theme-dark .login-form {
  background-color: #0e0e0e;
  border: 1px solid #000000;
}

.theme-dark .login-form form .form-group label {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control {
  color: var(--white-color);
  background-color: #000000;
  border: 1px solid #000000;
}

.theme-dark .login-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .login-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .login-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .login-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .login-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .login-form form .remember-me-wrap [type="checkbox"]:checked + label, .theme-dark .login-form form .remember-me-wrap [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .login-form form .lost-your-password-wrap a {
  color: var(--white-color);
}

.theme-dark .login-form form .account-text span {
  color: var(--white-color);
}

.theme-dark .login-form form .account-text span a {
  color: var(--main-color);
}

.theme-dark .login-form:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .register-form {
  background-color: #0e0e0e;
  border: 1px solid #000000;
}

.theme-dark .register-form form .form-group label {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control {
  color: var(--white-color);
  background-color: #000000;
  border: 1px solid #000000;
}

.theme-dark .register-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .register-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .register-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .register-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .register-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .register-form form .account-text span {
  color: var(--white-color);
}

.theme-dark .register-form form .account-text span a {
  color: var(--main-color);
}

.theme-dark .register-form:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .forgot-password-form {
  background-color: #0e0e0e;
  border: 1px solid #000000;
}

.theme-dark .forgot-password-form form .form-group label {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control {
  color: var(--white-color);
  background-color: #000000;
  border: 1px solid #000000;
}

.theme-dark .forgot-password-form form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .forgot-password-form form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .forgot-password-form form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .forgot-password-form form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .forgot-password-form form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .forgot-password-form:hover {
  border: 1px solid var(--main-color);
}

.theme-dark .terms-of-service-content .blockquote, .theme-dark .terms-of-service-content blockquote {
  background-color: #0e0e0e;
}

.theme-dark .terms-of-service-content ol li, .theme-dark .terms-of-service-content ul li {
  color: var(--white-color);
}

.theme-dark .privacy-policy-content .blockquote, .theme-dark .privacy-policy-content blockquote {
  background-color: #0e0e0e;
}

.theme-dark .privacy-policy-content ol li, .theme-dark .privacy-policy-content ul li {
  color: var(--white-color);
}

.theme-dark .coming-soon-content {
  background-color: #0e0e0e;
}

.theme-dark .coming-soon-content form .form-group .form-control {
  color: var(--white-color);
  background-color: #1F242F;
  border: 1px solid #1F242F;
}

.theme-dark .coming-soon-content form .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .coming-soon-content form .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .coming-soon-content form .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .coming-soon-content form .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .coming-soon-content form .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .contact-area {
  background-color: #0e0e0e;
}

.theme-dark #contactForm .form-group label {
  color: var(--white-color);
}

.theme-dark #contactForm .form-group .form-control {
  color: var(--white-color);
  background-color: #000000;
  border: 1px solid #000000;
}

.theme-dark #contactForm .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark #contactForm .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark #contactForm .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark #contactForm .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark #contactForm .form-group .form-control:focus {
  border: 1px solid var(--main-color);
}

.theme-dark #contactForm .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark #contactForm .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark #contactForm .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark #contactForm .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark #contactForm .form-group .form-select {
  color: var(--white-color);
  background-color: #000000;
  border: 1px solid #000000;
}

.theme-dark #contactForm .form-group .form-select:focus {
  border: 1px solid var(--main-color);
}

.theme-dark #contactForm .form-check .form-check-label {
  color: var(--white-color);
}

.theme-dark #contactForm .form-check .form-check-label a {
  color: var(--white-color);
}

.theme-dark #contactForm .form-check .form-check-label a:hover {
  color: var(--main-color);
}

.theme-dark .blog-details-desc .article-info-item .info-content span {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-content .quote-content {
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .blog-details-desc .article-content .quote-content p {
  margin-bottom: 15px;
}

.theme-dark .blog-details-desc .article-content .quote-content span {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-content .list li {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-tags {
  border-bottom: 1px solid #0e0e0e;
}

.theme-dark .blog-details-desc .article-leave-comment .form-group label {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment .form-group .form-control {
  color: var(--white-color);
  background-color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.theme-dark .blog-details-desc .article-leave-comment .form-group .form-control::-webkit-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment .form-group .form-control:-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment .form-group .form-control::-ms-input-placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment .form-group .form-control::placeholder {
  color: var(--white-color);
}

.theme-dark .blog-details-desc .article-leave-comment .form-group .form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment .form-group .form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment .form-group .form-control:focus::-ms-input-placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment .form-group .form-control:focus::placeholder {
  color: transparent;
}

.theme-dark .blog-details-desc .article-leave-comment .form-cookies-consent [type="checkbox"]:checked + label, .theme-dark .blog-details-desc .article-leave-comment .form-cookies-consent [type="checkbox"]:not(:checked) + label {
  color: var(--white-color);
}

.theme-dark .pagination-area .page-numbers {
  background-color: var(--black-color);
  color: var(--white-color);
}

.theme-dark .pagination-area .page-numbers:hover, .theme-dark .pagination-area .page-numbers.current {
  color: var(--white-color);
  background-color: var(--main-color);
}

.theme-dark .pagination-area .page-numbers:hover i, .theme-dark .pagination-area .page-numbers.current i {
  color: var(--white-color);
}

@media only screen and (max-width: 767px) {
  .theme-dark .navbar-area {
    background-color: #050404;
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .main-responsive-nav .main-responsive-menu.mean-container .others-options .option-item .cart-btn a {
    color: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .theme-dark .navbar-area {
    background-color: #050404;
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .main-responsive-nav .main-responsive-menu.mean-container .others-options .option-item .cart-btn a {
    color: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .theme-dark .navbar-area {
    background-color: #050404;
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--white-color);
  }
  .theme-dark .main-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--white-color);
  }
  .theme-dark .main-responsive-nav .main-responsive-menu.mean-container .others-options .option-item .cart-btn a {
    color: var(--white-color);
  }
  .theme-dark .others-option-for-responsive .dot-menu .inner .circle {
    background-color: var(--white-color);
  }
}
/*# sourceMappingURL=dark.css.map */