﻿/*This is the scss file for customizing the web page*/
/*Change colors to the main colors of Kohinor*/
:root {
  --main-color: #922E77;
  --optional-color: #5759A6;
}

/*Logos width*/
.white-logo,
.black-logo {
  width: 150px;
}

.clients-logo {
  width: 200px !important;
}

.logo-box .owl-item {
  height: 200px;
  display: flex;
  align-content: center;
  align-items: center;
}

.logo-center {
  margin-left: auto;
  margin-right: auto;
}

/*Override of benefits area*/
.benefits-content {
  padding-left: 0px !important;
}

@media (max-width: 992px) {
  .benefits-content img {
    width: 45% !important;
  }
  .benefits-content.flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
  .benefits-content .mt-md-4 {
    margin-top: 1.5rem !important;
  }
}
/*Override of overview area*/
.overview-area {
  background-color: var(--optional-color);
}

/*Contetnt buttons*/
.overview-content .overview-btn-group li .optional-btn {
  border: 1px solid var(--white-color);
}

.overview-content .overview-btn-group li .optional-btn::before {
  background-color: var(--white-color);
}

.overview-content .overview-btn-group li .optional-btn:hover {
  color: #5759A6 !important;
  border: 1px solid var(--white-color);
}

.overview-content .overview-btn-group li .default-btn::before {
  background-color: var(--white-color);
}

.overview-content .overview-btn-group li .default-btn:hover {
  color: #5759A6 !important;
  border: 1px solid var(--white-color);
}

/*Media Queries*/
@media only screen and (max-width: 1199px) {
  .white-logo,
  .black-logo {
    width: 45px;
  }
}
@media only screen and (min-width: 1199px) {
  .banner-banner-area-2 {
    padding-top: 100px;
    padding-bottom: 0px;
  }
}
