﻿@{
    ViewData["Title"] = "Contact Page";
}

<!-- Start Page Banner Area -->
<div class="main-banner-area main page-banner-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="page-banner-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <h2>@language.Getkey("ContactUs_Index_h_ContactUs")</h2>

                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">@language.Getkey("ContactUs_Index_li_Home")</a>
                        </li>
                        <li>@language.Getkey("ContactUs_Index_li_Contact")</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="page-banner-image" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Snuff/assets/images/page-banner/banner.png" alt="image">

                    <div class="banner-shape">
                        <img src="~/Snuff/assets/images/page-banner/shape.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->

<!-- Start Contact Information Area -->
<partial name="_ContactInformation" asp-page="~/Views/Shared/_ContactInformation.cshtml" />
<!-- End Contact Information Area -->

<!-- Start Contact Area -->
<partial name="_ContactForm" asp-page="~/Views/Shared/_ContactForm.cshtml" />
<!-- End Contact Area -->

<!-- Start Overview Area -->
<partial name="_Overview" asp-page="~/Views/Shared/_Overview.cshtml" />
<!-- End Overview Area -->

@section scripts{
    <script>
        // jQuery
        $(document).ready(function () {
            $("#mainHeader").removeClass("main-header-area");


            $("#contactForm").on("submit", function (event) {
                event.preventDefault(); // Evita que se recargue la página

                // Captura los datos del formulario
                const formData = {
                    FullName: $("#fullName").val(),
                    Email: $("#email").val(),
                    Phone: $("#phone").val(),
                    Subject: $("#subject").val(),
                    Company: $("#company").val(),
                    Description: $("#description").val()
                };

                // Enviar datos al servidor mediante AJAX
                $.ajax({
                    url: "/Contact/SubmitContactForm", // Endpoint del controlador
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(formData),
                    success: function (response) {
                        const messageDiv = $("#form-message");

                        if (response.success) {
                            messageDiv.removeClass("d-none alert-danger").addClass("alert-success");
                            messageDiv.text(response.message);
                            $("#contact-form")[0].reset(); // Limpia el formulario
                        } else {
                            messageDiv.removeClass("d-none alert-success").addClass("alert-danger");
                            messageDiv.text(response.message);
                        }
                    },
                    error: function () {
                        const messageDiv = $("#form-message");
                        messageDiv.removeClass("d-none alert-success").addClass("alert-danger");
                        messageDiv.text("Ocurrió un error inesperado. Inténtalo más tarde.");
                    }
                });
            });

        });
    </script>
}