﻿@{
    ViewData["Title"] = "Contact Page";
    var message = ViewData["Message"] as string;
}

<!-- Start Page Banner Area -->
<div class="main-banner-area main page-banner-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="page-banner-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <h2 id="msgOrderSent">@language.Getkey("ContactUs_Index_h_ContactUs")</h2>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="page-banner-image" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Snuff/assets/images/page-banner/banner.png" alt="image">

                    <div class="banner-shape">
                        <img src="~/Snuff/assets/images/page-banner/shape.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->



<!-- Start Overview Area -->
<partial name="_Overview" asp-page="~/Views/Shared/_Overview.cshtml" />
<!-- End Overview Area -->

@section scripts{
    <script>
        // jQuery
        $(document).ready(function () {
            $("#mainHeader").removeClass("main-header-area");
            
            var message = "@message";
            if (message) {
                $("#msgOrderSent").text(message);
                $("#msgOrderSent").addClass('alert alert-info'); // Optional: add classes for styling
            }

            
            $("#mainHeader").removeClass("main-header-area");
        });
    </script>
}