﻿@{
    ViewData["Title"] = "Support Page";
}

<!-- Start Page Banner Area -->
<div class="main-banner-area main page-banner-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="page-banner-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <h2>@language.Getkey("ContactUs_Support_h_Support")</h2>

                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">@language.Getkey("ContactUs_Support_li_Home")</a>
                        </li>
                        <li>@language.Getkey("ContactUs_Support_li_Support")</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="page-banner-image" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
                    <img src="~/Snuff/assets/images/page-banner/banner.png" alt="image">

                    <div class="banner-shape">
                        <img src="~/Snuff/assets/images/page-banner/shape.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->
<!-- Start Contact Area -->
<partial name="_ContactSupport" asp-page="~/Views/Shared/_ContactSupport.cshtml" />
<!-- End Contact Area -->
<!-- Start Overview Area -->
<partial name="_Overview" asp-page="~/Views/Shared/_Overview.cshtml" />
<!-- End Overview Area -->

@section scripts{
    <script>
        // jQuery
        $(document).ready(function () {
            $("#mainHeader").removeClass("main-header-area");
        });
    </script>
}